.about_sec {
    padding: 4rem 0;
}

.about_sec .custom_row {
    align-items: center;
}

.about_sec .imgCol img {
    width: 100%;
}

.about_sec .about_cont {
    font-size: 15px;
}

.about_sec .about_cont::first-letter {
    color: #b58811;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
}








/** Responsive CSS starts here **/

@media (max-width: 575.98px) {
    .about_sec .about_cont {
        font-size: 14px;
    }
}