/** Font Rule **/
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/** Font Rule Ends here **/





/* GRID CSS */
.custom-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .custom-container {
      max-width: 600px;
    }
  }
  @media (min-width: 768px) {
    .custom-container {
      max-width: 720px;
    }
  
  }
  @media (min-width: 992px) {
    .custom-container {
      max-width: 960px;
    }
  
  }
  @media (min-width: 1200px) {
    .custom-container {
      max-width: 1080px;
    }
  }

  @media (min-width: 1400px) {
    .custom-container {
      max-width: 1200px;
    }
  }
  @media (min-width: 1600px) {
    .custom-container {
      max-width: 1350px;
    }
  }

  /* GRID CSS Ends here */

  .custom_row {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }

  .custom_col-3, .custom_col-6 {
    padding: 0 15px;
  }

  .custom_col-6 {
    flex: 0 0 48%;
    max-width: 48%;
  }

  .leftCol, .rightCol {
    padding: 0 15px;
  }


  .sec_ttl {
      text-align: center;
      margin: 0 0 20px;
  }

  .sec_ttl h2 {
      font-weight: 600;
      font-size: 30px;
      text-transform: capitalize;
      letter-spacing: 1px;
      margin: 0;
  }

  .sec_ttl h2 span {
    color: #fff;
    background-color: #ce2e2e;
    padding-left: 10px;
  }

  .fancy_ttl {
    position: relative;
    display: inline-block;
  }

  .fancy_ttl:before, .fancy_ttl:after {
    content: '';
    position: absolute;
    height: 10px;
    border-bottom: 2px solid;
    border-color: #ce2e2e;
    top: 0;
    width: 100px;
  }

  .fancy_ttl:before {
    right: 100%;
    margin-right: 15px;
  }

  .fancy_ttl:after {
    left: 100%;
    margin-left: 15px;
  }

  .fancy_ttl i {
    color: #ce2e2e;
  }

  .sec_btnWrap {
    text-align: center;
    margin: 10px 0;
  }

  /** Form CSS **/

  form .formGrp {
      margin: 0 0 15px;
  }

  form label {
      display: block;
      font-size: 14px;
      font-weight: 600;
      font-family: 'Poppins';
      margin-bottom: 10px;
  }

  form input:not([type="submit"]) {
      display: inline-block;
      width: 100%;
      height: 45px;
      line-height: 45px;
      margin: 0 0 10px;
      padding: 10px 12px;
      font-size: 13px;
      font-family: 'Poppins';
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 4px;
      outline: none;
      transition: all 0.3s ease-in;
  }

  form textarea {
      width: 100%;
      height: 120px;
      resize: none;
      margin: 0 0 10px;
      padding: 10px 12px;
      font-size: 14px;
      font-family: 'Poppins';
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 4px;
      outline: none;
      transition: all 0.3s ease-in;
  }

  form input:not([type="submit"]):focus, form textarea:focus {
      border-color: #ccc;
  }

  .inlineForm .formGrp {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .inlineForm .formGrp input {
    margin: 0;
    border-radius: 0;
    height: 45px;
    line-height: normal;
  }



/** Form CSS ends here **/







/** Responsive CSS starts here **/

@media (max-width: 1199.98px) {
  .sec_ttl h2 {
    font-size: 28px;
  }

  .fancy_ttl:before, .fancy_ttl:after {
    width: 90px;
  }
}

@media (max-width: 991.98px) {
  .sec_ttl h2 {
    font-size: 25px;
  }

  .custom_row {
    margin-left: -10px;
    margin-right: -10px;
  }

  .custom_col-3, .custom_col-6 {
    padding: 0 10px;
  }
}

@media (max-width: 767.98px) {

  .sec_ttl h2 {
    font-size: 22px;
  }

  .fancy_ttl:before, .fancy_ttl:after {
    width: 60px;
  }
}

@media (max-width: 575.98px) {

  .custom_col-3, .custom_col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sec_ttl h2 {
    font-size: 20px;
  }

  .fancy_ttl:before, .fancy_ttl:after {
    width: 40px;
  }

  form:not(.rs-form) input:not([type="submit"]) {
      height: 40px;
      line-height: 40px;
      margin: 0 0 8px;
      padding: 8px 10px;
      font-size: 12px;
      border-radius: 2px;
  }

  .inlineForm .formGrp input {
      height: 35px;
      font-size: 12px;
  }
}