.hero_slider_sec {
    min-height: 550px;
    overflow: hidden;
}

.hero_slider_sec h3 {
    margin: 0;
}

.hero_slider_sec .slick-track {
    height: 550px;
}

.hero_slider_sec .slick-slide div, .hero_slider_sec .slideItem {
    height: 100%;
}

.hero_slider_sec .slideItem {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.hero_slider_sec .slidebgOverlay {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.9), rgba(10,0,0,0.5));
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.hero_slider_sec .slideItem .slider_cont {
    padding: 10% 0 8% 0;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.hero_slider_sec .slideItem .slider_cont h3 {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

.hero_slider_sec .slideItem .slider_cont p {
    color: #fff;
    margin: 5px 0 15px;
}

.hero_slider_sec .slick-slider {
    position: relative;
}

.hero_slider_sec .slick-slider .slick-dots {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: auto;
}

.hero_slider_sec .slick-slider .slick-dots li {
    display: block;
    border-radius: 50%;
    margin: 10px 0;
    width: 15px;
    height: 15px;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
}

.hero_slider_sec .slick-slider .slick-dots li button {
    width: 5px;
    height: 5px;
    line-height: 5px;
    background-color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    outline-offset: 2px;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.hero_slider_sec .slick-slider .slick-dots li button:before {
    content: none;
}

.hero_slider_sec .slick-slider .slick-dots li.slick-active button {
    background-color: #b58811;
    outline-color: #b58811;
    opacity: 1;
}

/** Our Mission Section CSS **/

.mission_sec {
    padding: 4rem 0 0;
}

.mission_sec .custom_row {
    justify-content: center;
    align-items: center;
    margin: 4rem 0 0;
}

.mission_sec .left_img img {
    width: 100%;
    display: block;
}

.mission_sec .mission_cont {
    padding: 1rem;
}

.mission_sec .mission_cont h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px;
    font-family: 'Montserrat';
}

.mission_sec .mis_wrap {
    display: flex;
    display: -ms-flexbox;
    gap: 20px;
    margin: 20px 0;
}

.mission_sec .mis_wrap .ic_wrap {
    position: relative;
    background-color: #b58811;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.mission_sec .mis_wrap .ic_wrap i {
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mission_sec .mission_cont .mis_wrap .cont h5 {
    margin: 0 0 10px;
    color: #b58811;
    font-family: 'Montserrat';
}

.mission_sec .mission_cont .mis_wrap .cont p {
    font-size: 12px;
}

/** Volunteers Section CSS **/

.volunteer_sec {
    padding: 4rem 0;
    background-image: url(../images/sec_bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.volunteer_sec .custom_row {
    justify-content: center;
}

.voluntCard {
    background-color: #fff;
    padding: 50px 30px;
    border-radius: 150px;
    box-shadow: 0px 0px 20px #ddd;
    margin: 20px 5px;
    transition: all 0.2s ease;
}

.voluntCard:hover {
    background: linear-gradient(-170deg, #e8c564 0%, #b58811 100%);;
    box-shadow: 0px 0px 20px #b58811;
}

.voluntCard .imgTop img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.voluntCard h4 {
    font-size: 18px;
    color: #222;
    margin: 10px 0;
    text-align: center;
    font-weight: 500;
    font-family: 'Montserrat';
}

.voluntCard:hover h4 {
    color: #fff;
}

.voluntCard span {
    font-size: 12px;
    color: #b58811;
    margin: 5px 0;
    display: block;
    text-align: center;
    font-weight: 400;
}

.voluntCard:hover span {
    color: #f3f3f3;
}

.voluntCard ul.social {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    margin: 10px 0;
    background: linear-gradient(-90deg, #e8c564 0%, #b58811 100%);
    border-radius: 50px;
}

.voluntCard:hover ul.social {
    background: #fff;
}

.voluntCard ul.social li a {
    color: #fff;
    padding: 0 5px;
}

.voluntCard:hover ul.social li a {
    color: #b58811;
}

.voluntCard ul.social li a i {
    transition: all 0.3s ease;
}

.voluntCard ul.social li a:hover > i {
    transform: rotate(-30deg);
}


/** Counter Section CSS here **/

.counter_sec {
    padding: 5rem 0;
    background: url(../images/donation.jpg) rgba(0,0,0,0.7);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-attachment: fixed;
}

.counter_sec .custom_row {
    justify-content: center;
    gap: 30px;
}

.counter_sec .counterWrap {
    margin: 0 5px;
    text-align: center;
    color: #fff;
}

.counter_sec .counterWrap i {
    font-size: 40px;
    color: #b58811;
}

.counter_sec .counterWrap h5 {
    margin: 10px 0;
    font-weight: 400;
}

.counter_sec .counterWrap .counterPercentage {
    font-size: 25px;
}


/** Upcoming Events CSS **/

.upcoming_sec {
    padding: 4rem 0;
    /* background-image: url(../images/sec_bg-img.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background: url(../images/sec_bg-img.jpg);
    /* background-blend-mode: multiply; */
}

.upcoming_sec .custom_row {
    justify-content: center;
}

.eventCard {
    display: flex;
    display: -ms-flexbox;
    gap: 20px;
    padding: 10px;
    border: 1px solid #cecece;
    border-radius: 2px;
    overflow: hidden;
    margin: 15px 0;
    background-color: #fff;
}

.eventCard .card_img {
    max-width: 30%;
    flex: 0 0 30%;
}

.eventCard .card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.eventCard .card_body {
    max-width: 67%;
    flex: 0 0 67%;
}

.eventCard .card_body h3 {
    color: #222;
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat';
}

.eventCard .eventFlex {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    margin: 0 0 10px;
}

.eventCard .eventFlex span i {
    color: #b58811;
}

.eventCard .desc {
    font-size: 13px;
    margin-bottom: 10px;
    color: #333;
}

.eventCard a {
    text-transform: capitalize;
}

/** Testimonial CSS starts here **/

.testimonial_sec {
    padding: 4rem 0;
}

.testimonial_inner {
    margin: 5rem auto 1rem;
    width: 90%;
}

.testimonial_inner .slick-slide {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    padding: 1rem;
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
}

.testimonial_inner .slick-slide,
.testimonial_inner .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
  transform: scale(0.8, 0.8);
  transition: all 0.4s ease-in-out;
}

.testimonial_inner .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
    opacity: 0.5;
}

.testimonial_inner .slick-center,
.testimonial_inner .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
  transform: scale(1);
  background-color: #a2a2a212;
}

.testimonial_inner .slick-slide.slick-center {
    position: relative;
}

.testimonial_inner .slick-slide.slick-center:before {
    content: "\f10d";
    top: 0;
    left: 5px;
}

.testimonial_inner .slick-slide.slick-center:after {
    content: "\f10e";
    right: 5px;
    bottom: 0;
}

.testimonial_inner .slick-slide.slick-center:before, .testimonial_inner .slick-slide.slick-center:after {
    position: absolute;
    font-family: var(--fa-style-family,"Font Awesome 6 Free");
    font-weight: var(--fa-style,900);
    color: #b5891167;
    font-size: 4rem;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.testimonial_sec .testi_cont {
    text-align: left;
    font-size: 15px;
}

.testimonial_sec .testi_cont h3 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat';
    color: #b58811;
}


/** Need Help CSS **/

.needHelp_sec {
    padding: 4rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(../images/sec_bg-img.jpg), rgba(0,0,0,0.85);
    background-blend-mode: darken;
}

.needHelp_inner {
    color: #fff;
}

.needHelp_inner h3, .needHelp_inner .cont {
    display: block;
    margin: 0 0 20px;
}

.needHelp_inner .cont {
    font-size: 14px;
}
















/** Responsive CSS starts here **/

@media (max-width: 1199.98px) {

    .mission_sec {
        padding: 3rem 0 0;
    }

    .mission_sec .custom_row {
        margin: 3rem 0 0;
    }

    .mission_sec .mission_cont h4 {
        font-size: 17px;
        margin: 0 0 15px;
    }

    .volunteer_sec {
        padding: 3rem 0;
    }

    .voluntCard {
        padding: 40px 30px;
        border-radius: 80px;
        margin: 15px 5px;
    }

    .voluntCard .imgTop img {
        width: 70px;
        height: 70px;
    }

    .voluntCard h4 {
        font-size: 16px;
    }

    .upcoming_sec {
        padding: 3rem 0;
    }
}

@media (max-width: 991.98px) {

    .hero_slider_sec {
        min-height: 400px;
    }
    
    .hero_slider_sec .slick-track {
        height: 400px;
    }

    .hero_slider_sec .slideItem .slider_cont {
        padding: 15% 0 5% 0;
    }

    .hero_slider_sec .slideItem .slider_cont h3 {
        font-size: 1.5rem;
    }

    .hero_slider_sec .slideItem .slider_cont p {
        font-size: 14px;
    }

    .mission_sec .custom_row {
        margin: 2rem 0 0;
    }

    .mission_sec .mis_wrap .ic_wrap {
        width: 95px;
        height: 55px;
        line-height: 55px;
    }

    .mission_sec .mission_cont .mis_wrap .cont h5 {
        margin: 0 0 5px;
    }

    .voluntCard {
        padding: 35px 20px;
        margin: 15px 0;
    }

    .eventCard {
        flex-direction: column;
    }

    .eventCard .card_img, .eventCard .card_body {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .eventCard .card_img img {
        width: 100%;
        height: 250px;
        object-position: top;
    }

    .needHelp_sec {
        padding: 3rem 0;
    }
}

@media (max-width: 767.98px) {
    .hero_slider_sec .slideItem .slider_cont {
        padding: 20% 0 5% 0;
    }

    .mission_sec {
        padding: 2rem 0 0;
    }

    .mission_sec .custom_row {
        flex-direction: column-reverse;
    }

    .mission_sec .custom_col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .mission_sec .mis_wrap .ic_wrap {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    .volunteer_sec {
        padding: 2rem 0;
    }

    .volunteer_sec .custom_col-3 {
        flex: 0 0 48%;
        max-width: 48%;
    }

    .voluntCard {
        display: flex;
        display: -ms-flexbox;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        border-radius: 20px;
        margin: 10px 0;
    }

    .voluntCard .imgTop img {
        width: 85px;
        height: 85px;
    }

    .voluntCard ul.social {
        gap: 10px;
        margin: 8px 0;
        border-radius: 20px;
    }

    .counter_sec {
        padding: 4rem 0;
    }

    .counter_sec .custom_col-3 {
        flex: 0 0 45%;
        max-width: 45%;
    }

    .eventCard .eventFlex {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .testimonial_sec {
        padding: 3rem 0;
    }

    .testimonial_inner {
        margin: 3rem auto 1rem;
    }

    .testimonial_sec .testi_cont {
        font-size: 14px;
    }
}

@media (max-width: 575.98px) {

    .hero_slider_sec .slideItem .slider_cont h3 {
        font-size: 1rem;
    }

    .volunteer_sec .custom_col-3, .counter_sec .custom_col-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .upcoming_sec .custom_col-6 {
        flex: 0 0 48%;
        max-width: 48%;
    }
    
    .eventCard .card_img img {
        height: 200px;
    }

    .testimonial_sec {
        padding: 2rem 0;
    }

    .testimonial_inner {
        margin: 2rem auto 0;
        width: 100%;
    }

    .testimonial_sec .testi_cont {
        font-size: 13px;
    }
}

@media (max-width: 475.98px) {

    .mission_sec .mission_cont {
        padding: 0;
    }

    .mission_sec .mis_wrap .ic_wrap {
        width: 85px;
        height: 55px;
        line-height: 55px;
    }

    .voluntCard ul.social li a {
        font-size: 12px;
    }

    .voluntCard .imgTop img {
        width: 75px;
        height: 75px;
    }

    .eventCard .card_body h3 {
        margin: 0 0 8px;
        font-size: 16px;
    }

    .upcoming_sec {
        padding: 2rem 0;
    }

    .upcoming_sec .custom_col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .eventCard .card_img img {
        height: 300px;
    }

    .needHelp_inner .cont {
        font-size: 13px;
    }
}