.ministries_sec {
    padding: 4rem 0;
}

.ministries_inner {
    margin: 0 auto;
    width: 90%;
}
.ministries_sec .custom_row {
    justify-content: center;
}

.mcard_link {
    position: relative;
    min-height: 260px;
    width: 100%;
    margin: 0 0 30px;
    display: block;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

.mcard_link img {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

.mcard_link:hover img {
    transform: scale(1.1);
}

.mcard_link .ttlCard {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 96%;
    padding: 15px;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    z-index: -1;
}

.mcard_link h5.card_ttl {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    color: #b58811;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-left: auto;
    text-transform: uppercase;
}

.mcard_link, .mcard_link .ttlCard, .mcard_link h5.card_ttl {
    transition: all 0.3s ease;
}

.mcard_link:hover .ttlCard {
    background: linear-gradient(45deg, #e8c564 0%, #b58811 50%);
}

.mcard_link:hover h5.card_ttl {
    letter-spacing: 2px;
    color: #fff;
}












/** Responsive CSS starts here **/

@media (max-width: 767.98px) {
    .ministryCard {
        min-height: 250px;
    }
}

@media (max-width: 575.98px) {
    .ministryCard {
        min-height: 300px;
    }

    .ministryCard .mcard_link {
        font-size: 12px;
    }
}