.innerPg_header {
    padding: 100px 0 30px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(../assets/images/sec_bg-img.jpg), rgba(0,0,0,0.85);
    background-blend-mode: darken;
}

.innerPg_header h2 {
    margin: 0;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat';
}







/** Responsive CSS starts here **/

@media (max-width: 767.98px) {
    .innerPg_header h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 575.98px) {

    .innerPg_header {
        padding: 85px 0 30px 0;
    }

    .innerPg_header h2 {
        font-size: 1rem;
    }
}