@import url(assets/css/basic.css);
@import url(assets/css/widgets.css);
@import url(components/style.css);
@import url(assets/css/home.css);
@import url(assets/css/about.css);
@import url(assets/css/ministries.css);
@import url(assets/css/events.css);
@import url(assets/css/event_detail.css);
@import url(assets/css/contact.css);
@import url(assets/css/outreachdetail.css);

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000 !important;
  transition: all 0.2s ease-in;
}

ul, ol  {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a, a:active, a:visited {
  text-decoration: none !important;
  color: #000;
}

p {
  margin: 0;
}

/** Header CSS **/

.mainHeader {
  position: relative;
}

.mainHeader .header_inner {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
}

.mainHeader .header_wrap {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: solid 1px rgba(255,255,255,0.2);
}

.mainHeader .logo img {
  max-width: 70px;
}

.navigationWrapper ul {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  gap: 10px;
}

.navigationWrapper ul li {
  margin: 0 10px;
}

.navigationWrapper ul li:last-child {
  margin-right: 0;
}

.navigationWrapper ul li.menu_item a {
  color: #fff;
}

.navigationWrapper ul li.menu_item a.butn {
  height: 2.5rem;
}

.navigationWrapper ul li.menu_item img {
  width: 25px;
  height: 25px;
  margin-right: 2px;
}

.navigationWrapper ul li.dropdown {
  position: relative;
}

.navigationWrapper ul li.dropdown .dropdownMain {
  position: absolute;
  top: 20px;
  min-width: 180px;
  background-color: #000;
  flex-direction: column;
  padding: 10px 12px;
  opacity: 0;
  visibility: hidden;
  display: none;
}

.navigationWrapper ul li.dropdown:hover .dropdownMain {
  opacity: 1;
  visibility: visible;
  display: flex;
  display: -ms-flexbox;
}

.hamburger {
  display: none;
}
.wrapper_donate_ham{
  display: none;
}
.navigationWrapper ul li.menu_item .dropdown {
  margin: 0;
  position: relative;
}

.navigationWrapper ul li.menu_item span.dropdown_text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 10px;
  color: #fff;
  background-color: #ed3b58;
  text-align: center;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
}

.navigationWrapper .dropdown_menu {
  top: 55px;
  right: 0;
  position: absolute;
  width: 150px;
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  z-index: 999;
  transition: all 0.3s ease;
}

.navigationWrapper .dropdown.active .dropdown_menu {
  visibility: visible;
  opacity: 1;
  height: 110px;
  box-shadow: 0px 8px 8px 5px rgba(0,0,0,0.2);
}

.navigationWrapper .dropdown_menu ul {
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.navigationWrapper .dropdown_menu ul li a {
  text-transform: uppercase;
  margin: 0 0 5px;
}

/** Header CSS Ends here **/

/** Footer CSS starts here **/

.footer-sec {
  padding: 3rem 0;
  background: #eee;
}

.footerCol-6, .footerCol-3 {
  padding: 0 15px;
}

.footerCol-6 {
  flex: 1 1 35%;
  max-width: 35%;
  margin-right: auto;
}

.footerCol-3 {
  flex: 1 1 30%;
  max-width: 30%;
}

.footerCol_inner h4 {
  color: #000;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 20px;
  text-align: left;
}

.footerCol_inner p {
  font-size: 15px;
  line-height: 25px;
  color: #000;
  font-weight: 400;
}

ul.foot_menu {
  display: inline-block;
}

ul.foot_menu li a {
  text-align: left;
  text-transform: capitalize;
  color: #333;
  margin: 0 0 15px;
  padding: 0;
  display: inline-block;
  font-size: 14px;
}

ul.foot_menu li a:hover {
  color: #b58811;
}

.footerCol_inner ul.address li {
  margin: 0 0 15px;
  color: #000;
  font-weight: 400;
}

.footerCol_inner ul.address li a {
  color: #000;
}

.footerCol_inner ul.address li a:hover {
  color: #b58811;
}

.footerCol_inner ul.address li i {
  margin-right: 10px;
  color: #b58811;
}

.footerCol_inner ul.address li span img {
  margin-right: 10px;
  vertical-align: middle;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.footerCol_inner ul.social_info {
  margin: 20px 0;
}

ul.social_info {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  gap: 20px;
}

ul.social_info li a {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #b58811;
  border-radius: 50%;
  color: #b58811;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}

ul.social_info li a span {
  position: absolute;
  top: 30%;
  background-color: #b58811;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  width: 70px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s ease;
}

ul.social_info li a span:after {
  content: '';
  position: absolute;
  border: 5px solid #b58811;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}

ul.social_info li a img {
  vertical-align: middle;
}

ul.social_info li a:hover {
  box-shadow: 0px 0px 5px 5px rgba(241, 198, 80, 0.532);
  border-color: transparent;
}

ul.social_info li a:hover span {
  top: -30px;
  opacity: 1;
  visibility: visible;
}

footer .copyright {
  text-align: center;
  background: linear-gradient(-90deg, #e8c564 0%, #b58811 100%);
  color: #fff;
  padding: 12px 0;
  font-size: 12px;
  font-weight: 500;
}

footer .copyright a {
  color: #fff;
}

footer .copyright img {
  width: 15px;
  vertical-align: middle;
}

/** Footer CSS ends here **/


/** Gallery Page CSS **/

.gallery_Inner .custom_col-4 {
  padding: 10px;
}

/* Outreach Image */
.image-gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.image-content{
  display: flex;
justify-content: center;
align-items: center;
}
.image-content p {
  width: 50%;
}
body .css-ahj2mt-MuiTypography-root{
  font-family: 'Montserrat';
  font-weight: 800;
}
.donation__content{
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
 .css-1086bdv-MuiPaper-root-MuiAccordion-root{
  background-color: #dbad35 !;
}
.donate-parent .custom-container{
  width: 50%;
}
.css-eqpfi5-MuiAccordionSummary-content{
  justify-content: space-between;
}


/* //gallery section */
.gallery .react-tabs ul.react-tabs__tab-list {
justify-content: center;
}


/** Responsive CSS starts here **/

@media (min-width: 768px) {
  .navigationWrapper ul li.menu_item span.dropdown_text:hover {
    background-color: #b58811;
  }
}

@media (min-width: 992px) {
  .navigationWrapper ul li.menu_item img {
    display: none;
  }

  .navigationWrapper ul li.menu_item .dropdown_text img {
    display: block;
  }
}

@media (max-width: 991.98px) {

  .innerHeaderWrap ul {
    gap: 15px;
  }
  .image-content {
    flex-direction: column;
  }
  .image-content p {
    width: 100%;
  }
  .navigationWrapper ul li.menu_item span.dropdown_text {
    font-size: 0;
    padding: 6px 8px;
    border: 1px solid #b58811;
  }

  .navigationWrapper ul li.menu_item img {
    width: 20px;
    height: 20px;
  }

  .navigationWrapper .dropdown_menu {
    top: 40px;
    width: 100%;
  }

  .navigationWrapper .dropdown.active .dropdown_menu {
    height: 130px;
  }

  .navigationWrapper .dropdown_menu ul li a {
    margin: 0;
  }

  .footer-sec {
    padding: 3rem 0 2rem;
  }

  ul.foot_menu li a {
    margin: 0 0 10px;
  }

  .footerCol-3 {
      flex: 1 1 32%;
      max-width: 32%;
  }

  .footerCol_inner ul.address li {
    font-size: 13px;
    font-weight: 300;
  }

  .footerCol_inner ul.address li i, .footerCol_inner ul.address li span img {
      margin-right: 5px;
  }

  .footerCol_inner p {
    font-size: 13px;
    line-height: normal;
  }
}

@media (max-width: 767.98px) {

  .mainHeader .header_wrap {
      position: relative;
  }
.image-content {
  flex-direction: column;
}
.image-content p {
  width: 100%;
}
  .navigationWrapper {
      margin: 0;
      position: absolute;
      right: 0;
      top: 70px;
      width: 300px;
      height: 0;
      background-color: rgba(255,255,255,0.8);
      box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
      z-index: 999;
      overflow: hidden;
      transition: all 0.3s ease;
  }

  .mainHeader.showMenu .navigationWrapper {
      padding: 20px;
      height: 250px;
      overflow-y: auto;
      border-bottom: 4px solid #b58811;
      border-radius: 0 0 15px 15px;
  }

  .navigationWrapper ul li.menu_item a {
    color: #b58811;
  }

  .navigationWrapper ul li.menu_item span.dropdown_text {
    font-size: 12px;
  }

  .navigationWrapper ul {
    flex-direction: column;
  }

  .hamburger {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 20px;
}
.wrapper_donate_ham{
  display: flex;
  gap: 1rem;
}

  .hamburger span.bar {
      position: relative;
      display: block;
      width: 35px;
  }

  .hamburger span.bar:before, .hamburger span.bar:after {
      content: '';
      height: 3px;
      position: absolute;
      background: linear-gradient(-90deg, #e8c564 0%, #b58811 100%);
      transition: all 0.2s ease;
  }

  .hamburger span.bar:before {
      top:-2px;
      width: 35px;
  }

  .hamburger span.bar:after {
      top: 8px;
      width: 25px;
  }

  .showMenu .hamburger span.bar {
      height: 0;
  }

  .showMenu .hamburger span.bar:before {
      transform: rotate(135deg);
      top: -5px;
      width: 25px;
  }

  .showMenu .hamburger span.bar:after {
      transform: rotate(-135deg);
      top: -5px;
  }

  .navigationWrapper ul li {
      width: 100%;
  }

  .navigationWrapper ul li.menu_item:not(.dropdown) .butn {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 13px;
    width: 100%;
  }

  .navigationWrapper ul li.menu_item:not(.dropdown) .butn img {
    display: none;
  }

  .innerHeaderWrap ul {
      font-size: 13px;
  }

  .footer-sec {
    padding: 2.5rem 0 2rem;
  }

  .footerCol_inner ul.address li {
      margin: 0 0 10px;
      font-size: 13px;
  }

  .footerCol_inner h4 {
      font-size: 16px;
      margin: 0 0 15px;
  }

  .footerCol-6 {
      flex: 1 1 90%;
      max-width: 90%;
  }

  .footerCol-3 {
      flex: 1 1 50%;
      max-width: 50%;
  }
}
.error-input {
  border: 1px solid red !important;
}


@media (max-width: 600px) {
  
  /** RS Form CSS **/

  .rs-picker-daterange-panel .rs-picker-daterange-calendar-group .rs-calendar .rs-calendar-table-cell-content {
    font-size: 12px;
  }

  .rs-picker-daterange-panel .rs-picker-daterange-calendar-group .rs-calendar {
    height: auto;
    min-width: auto;
  }
}

@media (max-width: 575.98px) {

  .rs-picker-daterange-panel .rs-picker-daterange-calendar-group {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    height: auto;
    min-width: auto;
  }

  .rs-picker-daterange-panel .rs-picker-toolbar {
    flex-direction: column;
  }

  .rs-picker-daterange-panel .rs-picker-daterange-calendar-group .rs-calendar .rs-calendar-table-cell-content {
    border-radius: 4px;
    font-size: 10px;
    padding: 3px;
    line-height: 25px;
  }

  .rs-picker-daterange-panel .rs-picker-daterange-calendar-group .rs-calendar {
    height: auto;
  }

  .rs-picker-daterange-panel .rs-picker-daterange-calendar-group .rs-calendar:first-child {
    border: none;
    border-bottom: 1px solid var(--rs-border-primary);
  }

  .rs-picker-daterange-panel .rs-picker-toolbar .rs-btn-sm {
    font-size: 12px;
    line-height: 15px;
    padding: 5px;
  }

  .navigationWrapper {
      width: 290px;
  }

  .innerHeaderWrap {
      gap: 10px;
  }

  .innerHeaderWrap ul {
      font-size: 12px;
      gap: 5px;
  }

  .innerHeaderWrap ul.left_info {
      flex-direction: column;
      align-items: flex-start;
  }

  .footer-sec .custom_row {
    gap: 20px 0;
  }

  .mainHeader.showMenu .navigationWrapper {
      height: 200px;
      top: 55px;
  }

  .footerCol-6 {
      flex: 1 1 95%;
      max-width: 95%;
  }

  .footerCol_inner p {
    font-size: 12px;
  }
}

@media (max-width: 475.98px) {

  .footer-sec {
      padding: 2rem 0;
  }

  .footerCol-3 {
      flex: 1 1 100%;
      max-width: 100%;
  }

  .footerCol_inner ul.social_info {
      margin: 15px 0;
  }

  footer .copyright {
      padding: 8px 0;
      font-size: 10px;
  }
}